<%- include('header') -%>
    <div id="root">
        <h1>
            Hi :)
        </h1>
        <h1>
            <small>
                The page is still loading, please be patient. <br>
                (Note: You must enable javascript to view this page.)
            </small>
        </h1>
    </div>

<script type="text/javascript">
    window.initialCat =  <%- JSON.stringify(initialCat || null) %>;
    window.initialData =  <%- JSON.stringify(initialData || [])%>;
    window.initialView =  <%- JSON.stringify(type) %>;
</script>
<%- include('footer') -%>
